.footer {
  display: flex;
  flex-grow: 1;
  max-height: 20%;
  max-width: 70%;
  width: 100%;
  border: 1px solid green;
}

.footer--margin-bot {
  margin-bottom: 0.5rem;
}

.footer__el {
  display: flex;
/*   width: calc(0.9em + 5vmin); */
  width: min(33.3%, 100%);
  justify-content: center;
  align-items: center;
/*   text-align: center; */
  background: #9a6565;
}

.footer__el--grey-bg {
  background: grey;
}

.footer__el--right-border {
  border-right: 1px solid black;
}

.footer__el--font {
  font-size: clamp(1rem, 2.5vw, 2rem);
}