.container {
  display: flex;
  margin: 0 auto;
  height: 90vh;
  min-width: 90vw;    
  box-shadow: -5px -4px 25px 0px rgba(0, 0, 0, 0.2);
}

.container-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* https://www.pexels.com/pl-pl/zdjecie/samochod-pojazd-staroswiecki-klasyczny-10313051/ */
/* https://www.pexels.com/pl-pl/zdjecie/droga-ulica-samochod-pojazd-11640930/ */

.container--font {
  font-family: 'Catamaran', sans-serif;
/*   font-weight: 100; */
}
