.right-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  height: 100%;
  max-width: 78%;
/*   border: 1px solid blue; */
}

@media only screen and (max-width: 600px) {
  .menu {
    max-width: 84%;
  }
}